@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@theme {
  --font-family-outfit: 'Outfit', sans-serif;
  --color-primary: #16a34a;
  /* Green 600 */
  --color-secondary: #f3f4f6;
  /* Gray 100 */
}

:root {
  font-family: var(--font-family-outfit);
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-secondary);
  color: #1f2937;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}